.descriptionCard {
  position: relative;
  left: -0.4em;
  width: calc(100% + 0.8em);
  margin-bottom: 0.6em;
  margin-top: 10px;
}

.descriptionText {
    margin: .4em .2em;
}

.ticketStyles {
  margin: 1.2em auto .8em;
}

.btnDelete {
  margin: -.6em 1.4em .2em;
  background-color: #ea2027;
  border: solid 2px blue;
  
}

.isDoneText {
  font-size: 1.2em;
  margin: 0 0 1em;
  padding: 0 0 .8em .4em;
  text-decoration: none;
}

.buttonTicket {
  display: inline-flex;
  margin-right: .4em;
}

.updateButton {
  background-color: #c35858;
  color: #fff;
}

.titleLink {
  transition: width 2s;
}

.titleLink:hover {
  color: #666;
}


@media screen and (min-width: 1200px) {
  .ticketStyles {
    max-width: 90%;
    margin: 1.4em auto 1em;
  }
}